@import "normalize.css";
@import "github-markdown-css";

html,
body {
  background-color: white;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

a {
  color: #1f1cd2;
  transition: .12s;
  text-decoration: none;
}
a:hover,
a:focus {
  color: black;
  text-decoration: none;
}

p {
  line-height: 1.6;
}

.container {
  box-sizing: border-box;
  max-width: 850px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
  }
}

.lang-preview {
  margin: 40px 0;
}
.lang-preview__main-list {
  list-style: none;
  padding: 0;
}
.lang-preview__main-list > li {
  font-weight: 500;
}
.lang-preview__main-list > li > ul {
  list-style-type: disc;
}
.lang-preview__main-list > li > ul > li {
  margin: 8px 0;
  font-weight: 400;
}

.page {
  margin: 30px auto;
  padding: 40px 40px;
  background-color: white;
  line-height: 1.7;
  border: 1px solid #ebebeb;
  /* box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .1); */
}
@media (max-width: 600px) {
  .page {
    padding: 30px 20px;
  }
}

.editable {
  position: relative;
  outline: 0px solid #ffe5d9;
}
.editable span {
  position: relative;
  display: inline-block;
  min-width: 30px;
  padding: 0 4px;
  margin: 0;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: normal;
  color: black;
  line-height: 1.7;
  background: #ffe5d9;
  outline-offset: 2px;
}
.editable span:focus {
  z-index: 2;
  outline: 3px solid #ffa500;
}
.editable.editable--edited {
  outline-color: #fdf7f5;
}
.editable.editable--edited span {
  background: #fdf7f5;
}
.editable span::selection {
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  animation: fadeIn 1s linear .4s 1 normal forwards;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.nav {
}
.nav.nav--footer {
  margin-top: 50px;
}
.nav .hr {
  display: inline-block;
  width: 8px;
  height: 1px;
  margin: 0 8px 4px 8px;
  border: none;
  background: black;
}
